<h1>Approach</h1>

<h2>Implementation</h2>
<p>Logistic Regression: The model takes in flow rate of a river, trend data of a river, mid day data points of a river, rolling mean of a river, and z-score of a river. These features are then trained in a binary supervised classification way. The model is supervised because we have a ground truth of precipitation. Each observation of data is assigned a ground truth or binary value of 1 (considered a storm)  and 0 (considered not a storm). The weights are the same for both class Precipitation is calculated using a rolling mean window of size 75 hours. There is a typical error between flow rate and river that you can read more about in the evaluation section. The model tries to classify the data in a way where all data points that are considered a storm are on one side of the linear boundary and all points that are considered not a storm are on the other side of the linear boundary. I am using the LogisticRegression class from the sklearn library to solve this.</p>

<img alt="Logistic Regression example" src="https://scipython.com/static/media/uploads/blog/logistic_regression/decision-boundary.png" width="300" height="250">

<p>Convolutional Neural Network: This model also takes in the same features as the logistic regression model. The model also uses the same ground truth metric. The model is also a supervised binary classification one. I implemented the model with the library keras. I have 3 sequential convolutional layers with different filter and kernel sizes (through trial and error) with the relu activation function then I have another sequential convolution layer with a sigmoid activation function and a size 1 filter and size 1 kernel size. The model also has a binary cross entropy loss function and an adam optimizer. Through the different layers, convolution sizes, and activation functions the neural network is able to transform the features on different patterns, timesteps, and spatiality of the dataset.</p>

<img alt="CNN example" src="https://miro.medium.com/max/567/0*wNDCPoGdy5WWu9Hl.png" width="300" height="250">

<h2>Training and Testing</h2>

<p>When training both models I transformed the data. What I mean is the dataset was imbalanced. There were only 20 percent of positive labeled classes and 80 percent of negatively labeled classes. The models were performing poorly because of this. So I found a library called imblearn and used the class SMOTE to upsample the minority class. The class increased the size of the training data set, and also increased the variety of the data. SMOTE synthesizes new examples from old examples using data augmentation.
<a href="https://machinelearningmastery.com/smote-oversampling-for-imbalanced-classification/">More about SMOTE can be found here</a>
</p>

<p>In turn the CNN trained model performed much better. I then tested the model with raw unbalanced data to see how robust the model is and it held up well.</p>
