<h1>Conclusion</h1>

<p>Storms can be predicted using flow rate data of rivers 77.8% of the time in Durham, New Hampshire. 
Although, defining a ground truth relating precipitation to flow rate of rivers is difficult it can be done. Different geographical locations and different storm sizes may require a bigger or smaller rolling window of precipitation as the ground truth.</p>

<h1>Future Work</h1>

<p>If I were to solve this task again, instead of supervised learning I would try unsupervised learning. As well as switching from a binary problem to multi classification. Defining a storm is not just black and white. Storms are different in sizes and not all can be defined on the same classifier well with flow rate as predictors. I would use a k-means clustering method to get possible 3 groups (big storm, small storm, not storm) or possibly more groups I can not think of.</p>
