<h1>Evaluation</h1>

<h2>Data</h2>

<p>The data I worked with is in csv format and is from the High Intensity Aquatic Network (HIAN) dataset acquired from New Hampshire’s Data Discovery Center( https://ddc.unh.edu/ ) and the precipitation data is from NOAA (https://www.ncei.noaa.gov/data/coop-hourly-precipitation/v2/ ). The HIAN data includes measures of temperature, flow rate, and conductivity from many different sites in various rivers and streams in Durham New Hampshire at 15 minute intervals and the
precipitation data contains measures of precipitation at 1 hour intervals in Durham New Hampshire. I used precipitation as my ground truth and different features of river data as my predictors.</p>

<p>I have used python as my programming language and different libraries such as pandas, matplotlib, numpy, sklearn, imblearn to help with preprocessing and plotting the data.</p>

<h2>Evaluation Measures</h2>

<p>I used precision, recall, f1-measure, and macro averaged f1-measure as my evaluation metrics. These metrics are all calculated from the confusion matrix I built using the confusion matrix class from the sklearn library.</p>

<h2>Results</h2>

<p>How to read the confusion matrices:</p>

<div><img alt="confusion matrix" src="confusion_matrix.png" width="300" height="75"></div>

Logistic Regression:
<div><img alt="Logistic Regression Performance" src="ss1.png" width="300" height="120"></div>

CNN:
<div><img alt="CNN Performance" src="ss2.png" width="300" height="120"></div>

<p>As you can see the CNN model drastically outperformed the logistic regression model. I believe this is mainly due to the fact that this problem cannot be modeled with a linear decision boundary. Since storms are unpredictable in nature and big storms and little storms are hard to label correctly with the same classifier. CNN also captures the sequentiality of the data while logistic regression does not.</p>

<h2>Other Important Graphs</h2>

<div><img alt="Other Graphs" src="other_graphs.png" width="600" height="500"></div>

<p>Flow rate versus Solute graphs let environmental researchers and others who care about salt being on roads, know when and where to look for potentially harmful solute they can remove it.</p>

<p>Time versus Flow Rate versus Solute graphs give a better understanding of what parts of a storm does solute accumulate the most in.</p>

<h2>Errors</h2>

<p>There are a few errors I encountered when doing this project. The first one has to do with the nature of the flow rate of rivers and precipitation. Precipitation first happens then only after does the flow rate of a river increase. Also, the flow rate of rivers seemed to stay at an increase for a long time after the storm had occurred, for as long as 12 hours. This could be due to the fact it rained at a different part from where the flow rate was measured.</p>

