<h1> Forecasting Storms in Durham New Hampshire </h1>

<p> Hello my name is Dylan O'Keeffe. Click on one of the links below to find out more about a time series forecasting classification problem I worked on with natural sensor data. <p>

<ul>
    <li><a href="introduction.html"> What is this project about? </a></li>
    <li><a href="related_work.html"> What are similar projects done in this area of work? </a></li>
    <li><a href="approach.html"> What are the methods I used to solve a project like this? </a></li>
    <li><a href="evaluation.html"> What methods did I use and how good are they? </a></li>
    <li><a href="conclusion.html"> What are conclusions I can draw from my work and what does future work look like? </a></li>
</ul>

<p> This link brings you to the Gitlab Repository where the code for this project resides, and has the directions on how to run the command line interface tool.</p>

<a href="https://gitlab.com/dokeeffe15/forecasting-storms-impact-on-ecosystems/-/blob/main/">Gitlab Repository</a>
