<h1>Introduction</h1>

<h2>Task Definition</h2>

<p>This project focuses on the relationship and environmental impact of storms on rivers. This project will be successful if we have a classification rate of detecting storms at or above 80% so it can be used by environmental researchers to provide insights into the interaction between storms and other aspects of the environment. This is important because waterways are a large part of the ecosystems they surround, gaining a better understanding of how storms and rivers interact will allow us to better protect the environment around us. Thus far we’ve created a basic model for classifying storm events given flow rate data and analyzed the geographical differences between sites. </p>

<h2>Motivation for the Methods</h2>

<p>The methods I used to explore are Logistic Regression and CNN. The reason I used Logistic Regression is to find out how important each feature is. Also since I have a binary classification problem a linear decision boundary could fit well. I chose to explore CNN because they are good at taking into account the spatial structure of the data. For any time series data is important to know where a previous point is in location to the next point.</p>
