<h1> Related Work </h1>

<h2> Algorithm Summaries </h2>

<h3>Logistic Regression</h3>

<p>Logistic Regression takes one or more independent variables, which are the features I chose for my model to learn. These features are the flow of river data and variants of flow on the river data. Then the model predicts a dependent variable by analyzing the features relationships to the dependent variables. FInally the model can only predict a binary outcome <a href="https://www.statisticssolutions.com/free-resources/directory-of-statistical-analyses/what-is-logistic-regression">Find more about Logistic Regression</a></p>

<h3>Convolutional Neural Network</h3>

<p>CNN takes in input which are the features, then through multiple layers in the cnn architecture the features are transformed or extracted into new features through convolutions, pooling, rectified linear units, or fully connected layers, but these transformations still preserve the information of the dataset <a href="https://www.happiestminds.com/insights/convolutional-neural-networks-cnns/#:~:text=Within%20Deep%20Learning%2C%20a%20Convolutional,image%20by%20using%20a%20CNN">Find more about CNNs</a></p>

<p>Both models are supervised although CNN can predict an outcome by analyzing features relationships to each other, while logistic regression compares the features relationship to the dependent variables in order to make a prediction.</p>

<h3>Similar Research Paper</h3>

<p>There has been related work in this area. I found this paper uses a MetNet-2 architecture to predict weather. MetNet-2 is similar to my CNN model, in that it takes in radar and satellite images such as temperature, humidity, and wind direction. The model is able to learn from the spatial dataset and features, in turn mimicking a physical model. This paper also uses a ground truth of precipitation. The model is trained on preprocessed data not raw data. The paper suggests the model can only predict up to 12 hours in the future and future work suggests the models predict days and months. This paper is very similar to my project. <a href="https://ai.googleblog.com/2021/11/metnet-2-deep-learning-for-12-hour.html">Link to Paper</a></p>
